.entitlement {
  background: #3e7651;
  display: flex;
  color: white;
  padding: 20px;
  height: 100%;
}
.entitlement .btn {
  margin: 0 10px;
}

.entitlement .form-control {
  margin: 10px;
  border-radius: 0rem;
  border-width: 0px 0px 1px 0px;
  background: transparent;
  width: 230px;
}

@media only screen and (max-device-width: 540px) {
  .entitlement .element-container {
    padding: 25px 0;
    max-width: 550px;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (min-device-width: 540px) {
  .entitlement .element-container p {
    margin: 10px 30px;
  }
  .entitlement .element-container {
    padding: 25px 0;
    max-width: 550px;
    margin: auto;
  }
}
