.Home {
  height: 100%;
}
.Home .carousel-control-next,
.carousel-control-prev {
  background: transparent;
  height: 10%;
  margin: auto;
  border: none;
}
.Home .carousel {
  height: 100%;
}
.Home .carousel img {
  object-fit: cover;
}
.Home .carousel-inner {
  height: 100%;
}
.Home .carousel-item{
  height: 100%;
}