nav {
  height: 50px;
  background: #ffffff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 99;
  position: relative;
}
nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav ul li {
  margin-right: 30px;
  color: #4b71ff;
}
nav ul li:last-child {
  margin-right: 0px;
}
nav .logo {
  height: 50px;
  width: 75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin-right: 30px;
  background-color: #4b71ff;
  cursor: pointer;
}
nav .arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}
