.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-image: url(https://imagesforpuda.blob.core.windows.net/applications/barley-field-gad27bb4e2_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.Register section {
  position: relative;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.Register h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.Register .inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid #fff;
}

.Register .inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.Register input:focus ~ label,
.Register input:valid ~ label {
  top: -5px;
}

.Register .inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.Register .inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  top: 20px;
}

.Register .forget {
  margin: 35px 0;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.Register .forget label input {
  margin-right: 3px;
}

.Register .forget label a {
  color: #fff;
  text-decoration: none;
}

.Register .forget label a:hover {
  text-decoration: underline;
}

.Register button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.Register .register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.Register .register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.Register .register p a:hover {
  text-decoration: underline;
}
